
<div id="ghost"><img src="ghost.png"></div>

<script>
    const particle = document.querySelector('#ghost img')
    const ANIM_DURATION = 25
    const ANIM_COOLDOWN = ANIM_DURATION * 1.5

    function restartAnimation() {
        var offset = Math.random() * (innerWidth / 3 * 2)
        document.documentElement.style.setProperty('--offset', offset+'px')

        particle.style.animation = 'none';

        setTimeout(() => {
            particle.style.animation = `
                floatUp ${ANIM_DURATION}s linear, 
                swing ${ANIM_DURATION}s ease-in-out, 
                rotate ${ANIM_DURATION}s ease-in-out`
        }, 10);
    }

    setInterval(()=>{
        restartAnimation()
    }, ANIM_COOLDOWN * 1000)
</script>

<style>
    #ghost {
        z-index: -1000;
        position: absolute;
        width: 30%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: var(--offset);
    }

    #ghost img {
        position: absolute;
        left: 50%;
        filter: brightness(0.7);
        opacity: 0;
        overflow: hidden;
    }

    @keyframes floatUp {
        0% {
            bottom: -50px;
            opacity: 0;
        }
        20% {
            opacity: 1;
        }
        80% {
            opacity: 1;
        }
        100% {
            bottom: 100%;
            opacity: 0;
        }
    }

    /* Horizontal swing movement */
    @keyframes swing {
        0% {
            left: 10%;
        }
        50% {
            left: 90%;
        }
        100% {
            left: 10%;
        }
    }

    @keyframes rotate {
        0% {
            transform: translateX(-50%) rotate(0deg);
        }
        25% {
            transform: translateX(-50%) rotate(60deg);
        }
        50% {
            transform: translateX(-50%) rotate(120deg);
        }
        75% {
            transform: translateX(-50%) rotate(220deg);
        }
        100% {
            transform: translateX(-50%) rotate(360deg);
        }
    }
</style>
